<div class="container-fluid">
  <div style="margin-top: 20px;" class="row-fluid">
    <div class="page-main page-home span9">

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <h1>
              <a href="#/">Packages</a>
              <i style="font-size: 72%; color: #999; margin: 0 0.25em" class="icon-chevron-right"></i>
              {{category}}
            </h1>
          </div>
        </div>

        <div style="margin-top: 1.618em;" class="row-fluid" id="categoryPackages">
        </div>

      </div>
    </div>

    <div class="page-sidebar span3">
      <div class="container-fluid">
        <h4>Categories</h4>
        <div id="categories"></div>
        <p style="margin-top: 1.618em">
          <a class="btn" href="/docs#Developing_packages">
            Publish a package
          </a>
        </p>
      </div>
    </div>

  </div>
</div>
