  <ul class="nav nav-list category-list">
    <li rel="All"><a href="#/category/{{uc "All"}}">All <span class="count"></span></a></li>
    <li rel="AJAX &amp; Websockets"><a href="#/category/{{uc "AJAX & Websockets"}}">AJAX &amp; Websockets <span class="count"></span></a></li>
    <li rel="API Clients"><a href="#/category/{{uc "API Clients"}}">API Clients <span class="count"></span></a></li>
    <li rel="CSS"><a href="#/category/{{uc "CSS"}}">CSS <span class="count"></span></a></li>
    <li rel="Crypto"><a href="#/category/{{uc "Crypto"}}">Crypto <span class="count"></span></a></li>
    <li rel="DOM"><a href="#/category/{{uc "DOM"}}">DOM <span class="count"></span></a></li>
    <li rel="Data"><a href="#/category/{{uc "Data"}}">Data <span class="count"></span></a></li>
    <li rel="Effects"><a href="#/category/{{uc "Effects"}}">Effects <span class="count"></span></a></li>
    <li rel="Events"><a href="#/category/{{uc "Events"}}">Events <span class="count"></span></a></li>
    <li rel="Frameworks"><a href="#/category/{{uc "Frameworks"}}">Frameworks <span class="count"></span></a></li>
    <li rel="Geographic"><a href="#/category/{{uc "Geographic"}}">Geographic <span class="count"></span></a></li>
    <li rel="Loader plugins"><a href="#/category/{{uc "Loader plugins"}}">Loader plugins <span class="count"></span></a></li>
    <li rel="Media"><a href="#/category/{{uc "Media"}}">Media <span class="count"></span></a></li>
    <li rel="Parsers &amp; Compilers"><a href="#/category/{{uc "Parsers & Compilers"}}">Parsers &amp; Compilers <span class="count"></span></a></li>
    <li rel="Routing"><a href="#/category/{{uc "Routing"}}">Routing <span class="count"></span></a></li>
    <li rel="Shims"><a href="#/category/{{uc "Shims"}}">Shims <span class="count"></span></a></li>
    <li rel="Storage"><a href="#/category/{{uc "Storage"}}">Storage <span class="count"></span></a></li>
    <li rel="Templating"><a href="#/category/{{uc "Templating"}}">Templating <span class="count"></span></a></li>
    <li rel="Testing"><a href="#/category/{{uc "Testing"}}">Testing <span class="count"></span></a></li>
    <li rel="UI"><a href="#/category/{{uc "UI"}}">UI <span class="count"></span></a></li>
    <li rel="Utilities"><a href="#/category/{{uc "Utilities"}}">Utilities <span class="count"></span></a></li>
    <li rel="Validation"><a href="#/category/{{uc "Validation"}}">Validation <span class="count"></span></a></li>
    <li rel="Visualization"><a href="#/category/{{uc "Visualization"}}">Visualization <span class="count"></span></a></li>
    <li rel="Uncategorized"><a href="#/category/{{uc "Uncategorized"}}">Uncategorized <span class="count"></span></a></li>
  </ul>
</div>
