<div class="container-fluid">
  <div style="margin-top: 20px;" class="row-fluid">
    <div class="page-main page-home span9">
      <div class="container-fluid">

        <div class="row-fluid">
          <div class="span12">
            <h1>Jam packages</h1>
            <form id="package-search-form" style="margin-top: 1em" class="form-inline">
              <div class="control-group">
                <div class="input-append">
                  <input id="package-search-q" type="text" placeholder="Search" />
                  <button id="package-search-submit" type="submit" class="btn">Go</button>
                  <span class="help-inline"></span>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div style="margin-top: 1.618em;" class="row-fluid" id="searchResults">
        </div>

        <div style="margin-top: 1.618em;" class="row-fluid" id="overview">
          <div class="span6">
            <h3>Latest updates</h3>
            <div id="latest-updates"><p>Loading...</p></div>
          </div>
          <div class="span3">
            <h3>Most depended on</h3>
            <div id="most-depended-on"><p>Loading...</p></div>
          </div>
          <div class="span3">
            <h3>Top submittors</h2>
            <div id="top-submittors"><p>Loading...</p></div>
          </div>
        </div>

      </div>

    </div>
    <div class="page-sidebar span3">
      <div class="container-fluid">
        <h4>Categories</h4>
        <div id="categories"></div>
        <p style="margin-top: 1.618em">
          <a class="btn" href="#/publish">
            Publish a package
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
