<div class="row">
	<div class="half">
		<form class="forms">
			<ul>
				<li>
	                <label for="foo" class="bold">Search</label>
	                <input type="text" name="foo" class="input-search" id="foo"> <button class="btn btn-round">Search</button>
			    </li>
			<ul>
		</form>
	</div>
</div>